# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan
*.terraform.tfstate*
*.terraform.lock.hcl*

# Ignore .terraform directories
**/.terraform/*

# Ignore override files as they can contain sensitive information
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore .terraformrc as it can contain sensitive information
.terraformrc

*.zip

# Exclude all folders in testdata directory
testdata/*

# Include specific folders in testdata directory
!testdata/dotnet-cf/
!testdata/python-cf/