# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore .terraform directories
**/.terraform/*

# Ignore override files as they can contain sensitive information
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore .terraformrc as it can contain sensitive information
.terraformrc
